In [114]:
from pandas import read_csv
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.compose import ColumnTransformer
from sklearn.svm import SVR
from sklearn.pipeline import Pipeline
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from numpy import absolute
from numpy import mean
from numpy import std

In [115]:
dataframe = read_csv('../abalone.csv', header=None)
dataframe

      0      1      2      3       4       5       6       7   8
0     M  0.455  0.365  0.095  0.5140  0.2245  0.1010  0.1500  15
1     M  0.350  0.265  0.090  0.2255  0.0995  0.0485  0.0700   7
2     F  0.530  0.420  0.135  0.6770  0.2565  0.1415  0.2100   9
3     M  0.440  0.365  0.125  0.5160  0.2155  0.1140  0.1550  10
4     I  0.330  0.255  0.080  0.2050  0.0895  0.0395  0.0550   7
...  ..    ...    ...    ...     ...     ...     ...     ...  ..
4172  F  0.565  0.450  0.165  0.8870  0.3700  0.2390  0.2490  11
4173  M  0.590  0.440  0.135  0.9660  0.4390  0.2145  0.2605  10
4174  M  0.600  0.475  0.205  1.1760  0.5255  0.2875  0.3080   9
4175  F  0.625  0.485  0.150  1.0945  0.5310  0.2610  0.2960  10
4176  M  0.710  0.555  0.195  1.9485  0.9455  0.3765  0.4950  12

[4177 rows x 9 columns]

In [116]:
last_ix = len(dataframe.columns) -1
last_ix

8

In [117]:
X, y = dataframe.drop(last_ix, axis=1), dataframe[last_ix]

In [118]:
X

      0      1      2      3       4       5       6       7
0     M  0.455  0.365  0.095  0.5140  0.2245  0.1010  0.1500
1     M  0.350  0.265  0.090  0.2255  0.0995  0.0485  0.0700
2     F  0.530  0.420  0.135  0.6770  0.2565  0.1415  0.2100
3     M  0.440  0.365  0.125  0.5160  0.2155  0.1140  0.1550
4     I  0.330  0.255  0.080  0.2050  0.0895  0.0395  0.0550
...  ..    ...    ...    ...     ...     ...     ...     ...
4172  F  0.565  0.450  0.165  0.8870  0.3700  0.2390  0.2490
4173  M  0.590  0.440  0.135  0.9660  0.4390  0.2145  0.2605
4174  M  0.600  0.475  0.205  1.1760  0.5255  0.2875  0.3080
4175  F  0.625  0.485  0.150  1.0945  0.5310  0.2610  0.2960
4176  M  0.710  0.555  0.195  1.9485  0.9455  0.3765  0.4950

[4177 rows x 8 columns]

In [119]:
y

0       15
1        7
2        9
3       10
4        7
        ..
4172    11
4173    10
4174     9
4175    10
4176    12
Name: 8, Length: 4177, dtype: int64

In [120]:
print(X.shape, y.shape)

(4177, 8) (4177,)

In [121]:
numerical_ix = X.select_dtypes(include=['int64', 'float64']).columns
numerical_ix

Int64Index([1, 2, 3, 4, 5, 6, 7], dtype='int64')

In [122]:
categorical_ix = X.select_dtypes(include=['object', 'bool']).columns
categorical_ix

Int64Index([0], dtype='int64')

In [123]:
t = [('cat', OneHotEncoder(), categorical_ix), ('num', MinMaxScaler(), numerical_ix)]
col_transform = ColumnTransformer(transformers=t)

In [124]:
model = SVR(kernel='rbf', gamma='scale', C=100)
pipeline = Pipeline(steps=[('prep', col_transform), ('m', model)])

In [125]:
cv = KFold(n_splits=10, shuffle=True, random_state=1)

In [126]:
scores = cross_val_score(pipeline, X, y, scoring='neg_mean_absolute_error', cv=cv, n_jobs=-1)

In [127]:
scores = absolute(scores)

In [128]:
print('MAE: %.3f (%.3f)' % (mean(scores), std(scores)))

MAE: 1.465 (0.047)